[2017-10-19 14:20] Humbedooh opened #1 "Testing PRs and issues"
la la la, ignore me :)

[2017-10-20 17:27] #1 closed

[2018-02-05 20:53] germonprez opened #2 "Installation Question: Transport Error"
Hi all,

I'm running through the install and running into this:

Creating index kibble
Index creation failed: TransportError(400, 'mapper_parsing_exception', 'No handler for type [string] declared on field [sourceID]')

Is this stemming from elasticsearch? Can provide more detail if needed. Any thoughts would be great.

[2018-02-06 07:05] Humbedooh commented on #2
This is an ElasticSearch 5.x/6.x compatibility issue. 6.x AIUI does not have the string type any longer, and so this error shows up. We'll need to account for that in the setup script. Fastest solution is to downgrade to a 5.x installation if you need it working right now. I'll look into a fix for the setup later this week.

[2018-02-06 15:09] germonprez commented on #2
Ok. Rolled back. Ran the setup script (but not as sudo). Things seemed to click better.

Creating index kibble
Index created! {'acknowledged': True, 'shards_acknowledged': True, 'index': 'kibble'}
Creating administrator account
Account created!
Writing Kibble config (../api/yaml/kibble.yaml)
Traceback (most recent call last):
  File "setup.py", line 239, in <module>
    with open(kibble_yaml, "w")

[2018-02-06 18:28] germonprez commented on #2
Had a second.

- Deleted kibble index from elasticsearch and reran setup.py as sudo. All seems good.

[2018-02-06 23:24] #2 closed

[2018-02-06 23:25] germonprez opened #3 "Proxy Mod (Installation)"
Hey,
Still working through the install as I have time. Are their proxy mods that I have to load to get access to ProxyPass directive? Is there anything that I need to know special here?

Thanks!

[2018-02-07 08:16] Humbedooh commented on #3
"It depends". Typically on a debian/ubuntu installation, you would need to run:
a2enmod proxy_http
and then the proxying should work.

[2018-02-07 17:29] germonprez commented on #3
That worked.

[2018-02-07 17:29] #3 closed

[2018-02-07 17:38] germonprez opened #4 "Installation update and a few thoughts"
I'm at the point of adding the scanners and kibble.localhost is up and running. Success. A few that may or may not be right that I did along the way:

1) Installed PyYAML. There is no yaml (at least that I could find) for Python3
2) I think that the virtual host install could use a bit more description. Loading the modules, setting up proxy, and configuring /etc/hosts is a bit vague. I think I got

[2018-02-09 15:21] Humbedooh commented on #4
1) The wording should be precised. git and cloc are used if you want to analyze git repositories. We don't/can't depend on GPL software, so these are explicitly noted as optional components you may wish to install if you want Kibble to work with git repos.

2) you can put the scanners anywhere you like, the file path doesn't matter.

3) matching the db layout basically means you would connect to t

[2018-02-12 16:25] germonprez commented on #4
Thanks.

1) Isn't there an assumption that I have git installed (point 1) during this entire process (as I do)? Should the directions just reference cloc?

2) How do I turn off certain scanners?

[2018-02-12 16:32] germonprez commented on #4
Also, I think I'm really close :) Getting a pretty big dump on start. Things look good from the get-go. Apache HTTPD server is up and running too.

sudo python3 kibble-scanner.py
[core]: Loaded plugins/scanners/git-sync v/0.1.2 (Sync plugin for Git repositories)
[core]: Loaded plugins/scanners/git-census v/0.1.0 (Census Scanner for Git)
[core]: Loaded plugins/scanners/git-sloc v/0.1.0 (SloC Counte

[2018-02-14 20:04] jlrifer opened #5 "Proxy error"
Hi @Humbedooh ,

I'm trying to set up organizations and I am getting a proxy error

[Wed Feb 14 19:40:01.187059 2018] [proxy:error] [pid 24131:tid 140417307170560] (111)Connection refused: AH00957: HTTP: attempt to connect to 127.0.0.1:8000 (localhost) failed
[Wed Feb 14 19:40:01.187103 2018] [proxy:error] [pid 24131:tid 140417307170560] AH00959: ap_proxy_connect_backend disabling worker for (loca

[2018-02-14 21:54] germonprez commented on #5
I feel like I'm at the same spot as @jlrifer. A bit more information. Here is the output when running

```python3 src/kibble-scanner.py```

<img width="923" alt="screen shot 2018-02-14 at 3 50 15 pm" src="https://user-images.githubusercontent.com/656208/36230146-108d9154-119f-11e8-8883-1103bda7e311.png">

and here is the other side of the coin from the browser -- can't seem to set the organization

[2018-02-14 21:55] Humbedooh commented on #5
It looks like the backend (the gunicorn or wsgi instance) isn't running. Have you started it, and if so, what does `lsof -i:8000` show?

[2018-02-14 22:03] germonprez commented on #5
I believe it is running:
[code]
lsof -i:8000 shows nothing.

[2018-02-15 08:48] Humbedooh commented on #5
that only shows grep running, trying to find gunicorn. Did you start it with the -D flag?, otherwise it's going to kill itself eventually. I'd suggest you try without the -D flag one time, to see if it errors out, then with the -D flag if it works.

[2018-02-15 09:03] Humbedooh commented on #5
oooh, I think there's a documentation error here :D
you're supposed to start gunicorn in the api/ directory, not the root kibble dir. Please try that, and I'll get the docs updated ASAP

[2018-02-15 11:40] germonprez commented on #5
My bad on grep. The gunicorn start in the api directory did the trick! Thanks @Humbedooh

[2018-02-15 12:07] germonprez opened #6 "Adding Data Sources"
@Humbedooh thanks again for the help in the install. Now moving onto the adding data sources. The UI is certainly straightforward. Organization added. However, adding the data sources seems to hang.

<img width="923" alt="screen shot 2018-02-15 at 6 05 13 am" src="https://user-images.githubusercontent.com/656208/36255911-6baa29cc-1216-11e8-8b84-9a47b8802ba2.png">

Should I be patient here?

[2018-02-15 12:10] Humbedooh commented on #6
Looks like a UI bug - it should show you an error there.
1) the repository URL has to end with .git
2) you need a username+password of at least an anonymous account, to circumvent rate limiting.

[2018-02-15 12:11] Humbedooh commented on #6
that aside, if you could reload with an inspector open in your browser and check the return value from the JSON API, that would help

[2018-02-15 12:14] Humbedooh commented on #6
Also, I will note that there is an existing session bug which will sometimes freeze widgets the first time you load a page. A reload will fix it, but I've yet to figure out where to fix this.

[2018-02-15 14:46] germonprez commented on #6
I think I got it. I had created the organization but had not set it as current. Without this, it was defaulting to apache as the organization.

<img width="994" alt="screen shot 2018-02-15 at 8 43 30 am" src="https://user-images.githubusercontent.com/656208/36262303-a845e0cc-122c-11e8-8ce2-cb41edd7cc58.png">

[2018-02-15 14:47] Humbedooh commented on #6
gotcha, that will obviously need to change :)

[2018-02-15 14:50] germonprez commented on #6
And it's working! Thanks for the help @Humbedooh

<img width="1161" alt="screen shot 2018-02-15 at 8 49 19 am" src="https://user-images.githubusercontent.com/656208/36262498-378c5c8e-122d-11e8-9594-8b2f48e5b2b0.png">

[2018-02-15 14:55] #6 closed

[2018-02-16 00:08] jlrifer commented on #5
That got it working for me too! Thanks!

[2018-02-16 00:08] #5 closed

[2018-02-16 02:31] amunz opened #7 "503 Service Error after setup"
Hello,

I have just finished going through the guide on installing kibble, and I feel that I am so close.
When I get to the Login page and try to register, I get a 503 service unavailable error. Any recommendation or assistance would be appreciated.

Thanks,
Adam

[2018-02-16 09:49] Humbedooh commented on #7
Sounds like a basic proxy issue, but I can't really say more from the 503 code alone.
Is the backend running? You may want to first look at #5 and see if that helps you.
If not, we'll need some entries from your web server's error log

[2018-02-16 19:06] amunz commented on #7
Whew! I got it running. I was able to log in after I installed dateutil to python3 and running sudo python3 src/kibble-scanner.py.

Thanks for the help!

[2018-02-16 19:06] #7 closed

[2018-02-18 11:53] Humbedooh opened #8 "Document use cases for Apache Kibble"
It would be awesome if we could have some documented use cases for Kibble.
Who needs it, what can they gain from using Kibble, all that stuff.

This would be a good issue for people wanting to start contributing to the project.

[2018-02-18 11:55] Humbedooh opened #9 "Write basic usage documentation"
We need someone to get started on writing documentation on how to use Kibble;
- How do you set up the base
- How do you set up an organisation
- How to add sources, what to keep in mind
- How to browse projects (what's the sub-filter for etc)
- How to grab data, exports etc
- What to look for when assessing a project/community's health.

[2018-02-19 17:20] amunz commented on #9
I can work on this :)

[2018-02-19 19:57] jlrifer commented on #8
I can start on this.

[2018-02-20 12:42] Humbedooh commented on #9
Awesome! To get you started, we use ReStructured Text for our documentation (cheat sheet can be found at https://github.com/ralsina/rst-cheatsheet/blob/master/rst-cheatsheet.rst ) and you would probably start a new document in the docs/ directory with this, which would then be woven into the main documentation. See https://github.com/apache/kibble/tree/master/docs/source for the current layout of

[2018-02-20 12:43] Humbedooh commented on #8
Awesome! :) If you could look at #9, I have outlined the basics to getting started with a document.

[2018-03-14 19:39] amunz opened #12 "Roadmap for adding new metrics"
Hi,
@jlrifer and I plan on contributing a new metric to Kibble in the coming months. Is there an existing roadmap for contributing a new metric to Kibble? Also, are there any metrics that the community is looking to add?

Thanks,
Adam

[2018-03-14 19:50] Humbedooh commented on #12
I think this is perhaps better discussed on the mailing list, but I won't dissuade you from using GitHub if that's what you feel most at home doing :) Should you decide to bring it to the lists, you can use our Pony Mail service to view/reply/subscribe at https://lists.apache.org/list.html?dev@kibble.apache.org

Having said that, the discussion is in a bit of a hiatus for the next week or two due

[2018-04-24 00:05] jlrifer opened #13 "Changes to python file not displaying"
Hi @Humbedooh,

I'm working on adding a community activity metric and I'm having problems getting changes in the python files to display. I've created a new file and have been basing it on the pony factor widget because I want it to be in a similar layout. I was able to get the widget to display with the code used in the pony.py file, but when I try to edit the code the changes aren't displaying.

[2018-04-24 07:08] Humbedooh commented on #13
First off, are you using a mod_wsgi-like approach or something like gunicorn? It could be something as simple as script caching here, as both require a restart/reload (a -HUP at least) when you change code.

[2018-04-24 23:52] jlrifer commented on #13
Thank you, that seems to have fixed it!

[2018-04-24 23:52] #13 closed

[2018-05-01 00:29] #12 closed

[2018-05-01 00:42] amunz opened #15 "Decimal value in trends widget"
Hello,
I would like to add an issues closed over issues opened ratio to the trends widget in the Issue Trackers page. I have gotten it to show up, but the value is displayed as an integer when I would like for it to be a decimal.
![issuesclosedopenedratio](https://user-images.githubusercontent.com/22136995/39456590-6c43b2e8-4c9c-11e8-9b45-e40092eb7d30.png)

I edited the /api/pages/issue/trends.py

[2018-05-07 06:17] Humbedooh commented on #15
I suspect the JS is forcing integer values. I'll look into that. Perhaps we need to add an extra argument to the JSON output to specify that this is a float and should be presented as a float.

[2018-09-11 10:04] sharanf opened #19 "Custom Date Range Picker Limts Date Range to a Maximum of 12 months"
Hi

There is something strange happening with the custom date picker. The default seems to only allow you to select 12 month date range as a maximum. T

I was wanting to select the date range 1st July 1995 to 31st December 1996 and it wouldn’t let me. Once I select the start date, the default is automatically selected to be 12 months later. So in my case the default end date was automatically set

[2018-09-11 10:13] Humbedooh commented on #19
Looks like the date picker is hard-coded to accept a maximum of 365 days for custom ranges. Should we change this, and if so, what to?

[2018-09-11 10:37] sharanf commented on #19
Looking at the date ranges we have already have, then I see a potential gap for Apache project data at least. From the current date - we have the previous 2, 5 and 10 years plus the Last Snoot Years (which starts in 1970s :-). So at the moment anything specific between 1995 and 2008 can only be accessed a year at a time.

A duration of 2 years will fix my issue but not sure how practical it will b

[2018-09-11 10:43] Humbedooh commented on #19
https://github.com/apache/kibble/blob/master/ui/js/coffee/datepicker.coffee#L83 has the actual value, feel free to change it, you have creds for that :)

After it's been changed, you should follow the building instructions in https://github.com/apache/kibble/blob/master/BUILDING.md and commit the changes JS library as well.

[2019-06-10 11:12] aligoren opened #24 "Improvement for daterangepicker when using custom ranges"
Hi. I think date range picker needs UI improvement when using custom ranges.

**Screenshot*

![screencast-demo kibble apache org-2019 06 10-14-06-59](https://user-images.githubusercontent.com/4205423/59191815-36579280-8b89-11e9-8899-1afc3883df01.gif)

**Possible Solution**

I think we should define a style rule for

`daterangepicker dropdown-menu opensleft show-calendar`

classes. There is only on

[2019-06-10 11:27] aligoren commented on #24
I've sent an email to contribute. But I just added an anchor, apache's email server reject me.

[2019-06-10 11:31] aligoren commented on #19
@Humbedooh

Actually,

[code]

**maxDate** shouldn't be hardcoded. For example, you want to add 2 years.

Use this instead of that

[code]

[2019-06-10 14:29] Humbedooh commented on #24
Can you open a PR with the proposed changes please? :)

[2019-06-10 14:30] Humbedooh commented on #19
That is a good suggestion. If you could open a PR against the coffee file, I can review and merge it in.

[2019-06-10 19:34] #24 closed

[2019-06-10 19:43] aligoren opened #27 "Tests Needs"
Hi.

I know there is not many contributors here.

But even like that, I think we should write tests.

Before then I think some modules should be rewritten. I know this isn’t easy.

Every developer in this project has its work like me.

Maybe we think a new structure with Flask or an async framework like Bocadillo.

Maybe we talk about the documentation in a different issue.

[2019-06-10 19:47] Humbedooh commented on #27
Tests would be awesome. I'm not sure where to start - perhaps with the server API? I know there have been some shortcuts made to speed up processes in the OpenAPI department, that should probably get fixed :) (such as response definitions left very open)

[2019-06-10 19:52] aligoren commented on #27
Hehe :) yes. I’ll **read** whole codebase to understand how it works.

Because there are also no docstrings.

I’ll try to friends to make this project much betters.

[2019-06-11 01:33] Humbedooh commented on #19
The issues should be addressed now. Changes are live on our new demo server (which is still catching up)

[2019-06-11 01:33] #19 closed

[2019-06-11 05:18] aligoren commented on #19
Am I see the old demo? :/)

[2019-06-11 05:34] TreyYi opened #28 "Does anyone know why PR #26 is not applied?"
Daniel has merged my PR #26, so I tried live demo to see if the change is applied. However, it wasn't. It was my first PR, and I think I did something wrong.
Please advise! Thank you.

[2019-06-11 09:14] Humbedooh commented on #28
There are currently two demos up and running, as we are in the middle of switching over to a new box. the new demo is at https://kibble.dev/ for now, and we'll switch over the demo.kibble.apache.org address once it's been fully initialized :)

[2019-06-11 09:14] #28 closed

[2019-06-11 13:51] aligoren opened #29 "Source URL's should be defined as anchor links."
Source URLs should be defined as an anchor element.

As you can see

Currently, all links in the [sources](https://demo.kibble.apache.org/organisations.html?page=sources) page are not an anchor element. All of them just a text.

May it be good, if a source URL open in a new tab when a user clicks them.

[2019-08-04 14:17] Humbedooh commented on #29
Good idea - what about maybe an icon to the right of them for opening in a new tab? Some people might prefer the URL stays as a textNode, to prevent accidental clicks. :)

[2020-05-03 19:15] ncg81 opened #30 "Widget design not found!"
Clicking on "Exports" entry in Kibble Web UI shows "Widget design not found!", as per title.  Any ideas?

[2020-05-03 23:47] Humbedooh commented on #30
The export feature is not yet a thing we've managed to figure out entirely, so it'll 404 for now, sorry!

[2020-05-03 23:47] #30 closed

[2020-05-25 18:18] ncg81 opened #31 "Any plans for GitHub API token support ?"
According to this [page](https://developer.github.com/changes/2020-02-14-deprecating-password-auth/), password auth has been deprecated and will cease working starting **November 13, 2020** at 4:00 PM UTC.

Are there any plans of updating the **github** repository options in the **sources** page to take into account the new API authentication scheme ?

[2020-05-27 18:04] ncg81 opened #32 "Kibble API griefing"
**Theory:**

Apache Kibble only supports cookie authorization for its REST API.

**Attempt(s) to falsify the above:**

[code]

[code]

Great we have a "token". Let's see what that does:

[code]

[code]

Hmm, nothing. Let's attempt traditional authorization schemes. Note that my REST client automatically Base64 encodes 'user pass'.

[code]

and

[code]
both result in:

[code]

Hmm. Let's fiddle wit

[2020-05-29 16:09] Humbedooh commented on #32
the token fetched from the preferences URI must currently be handed in the Kibble-Token header of the request, such as in this python example:

[code]

It would be nice if it accepted a token in the Authorization header as well, and when I'm back home, I'll work on making that happen.

[2020-10-02 06:35] michalslowikowski00 commented on #27
Hey guys.
Maybe pre-commit will be a good idea to starts with?
I can do it, a least try to do it.
https://pre-commit.com/

[2020-10-06 16:19] turbaszek commented on #27
+1 for introducing pre-commit. It will allow us to assert code quality as a first step and then we can add tests that can also be run using this tool (+ pytest).

If someone is not familiar with this framework - it's a simple tool that allows users to share and install git hooks that are run before commit. In this way the code quality (and more) is checked even before making a contribution. Of cou

[2020-10-06 19:38] michalslowikowski00 commented on #27
@turbaszek yes, absolutely, +1 for the CI. I thought that the Circle CI is implemented here. But it is not.

[2020-10-06 19:47] sharanf commented on #27
@michalslowikowski00 thanks for the suggestion. And it sounds like a good practical idea - I like it. Let me check any other community feedback.

[2020-10-06 19:53] michalslowikowski00 commented on #27
@sharanf should we introduce some proposals via the dev list?

[2020-10-06 19:59] sharanf commented on #27
@michalslowikowski00 yes for new stuff, it is best to see if others have an opinion and you will see that I have already started this discussion there :-)

[2020-10-06 20:17] michalslowikowski00 commented on #27
I subscribed dev list. :)

[2020-10-06 20:36] turbaszek opened #36 "Change CODE_OF_CONDUCT to point to Apache CoC"
Hello all!

I would like to suggest to change the Apache Kibble CoC to point to ASF CoC instead of using full text. For example:

[code]

By doing this we point users to ASF CoC that _may_ change over time so we are avoiding possible inconsistency and we allow users to see that the Kibble project is part of something bigger :)

Happy to hear your opinion on this!

[2020-10-06 20:46] turbaszek opened #37 "Consider moving /setup content to main directory"
It's rather uncommon to keep setup.py and requirements.txt in a separate directory so I would like to suggest moving it to main directory.

[2020-10-06 20:46] turbaszek commented on #37
@Humbedooh what do you think? Is there any reason for keeping it in /setup?

[2020-10-06 21:00] turbaszek opened #38 "Installation steps don't work"
It seems that I'm unable to install the Apache Kibble from sources:
[code]

I'm happy to improve it but at first, I would like to make sure that it's a real problem and not me.

[2020-10-06 21:00] turbaszek commented on #37
Slightly related #38

[2020-10-07 06:19] Humbedooh commented on #38
What installation instructions are you following? The official documentation does not mention using `pip install` for setup.py.
It specifically mentions this example:

- git clone https://github.com/apache/kibble.git /var/www/kibble
- cd /var/www/kibble/setup
- pip3 install -r requirements.txt
- python3 setup.py

[2020-10-07 07:17] turbaszek commented on #38
Oh, sorry my bad... the `python setup.py` works as described.

However, this is rather uncommon to use `setup.py` in this way. The main purpose of this script should be to allow users to install the package using setuptools as described here:
https://packaging.python.org/tutorials/packaging-projects/#creating-setup-py

So I would like to propose to refactor this a little bit to avoid confusion wit

[2020-10-07 08:10] Humbedooh commented on #38
That assumes that this is a python package, which it is not :) It's a simple WSGI web site.
I don't mind working towards a making it a proper pip package, but I think we'd need to discuss the overall structure and code if so.
The base code has been largely untouched for 3 years, perhaps it's time to build a kibble backend v2 and discuss how we want it to work. I could think of many improvements su

[2020-10-07 08:21] turbaszek opened #40 "Create docker-compose for Apache Kibble"
To have Apache Kibble up and running users require more than Python code. Additional requirements are:
- Elasticsearch instance
- Webserver

It seems feasible to create docker-compose that will allow users to start Kibble just by running `docker-compose up`. This should also help to unify development environment.

[2020-10-07 09:11] turbaszek commented on #38
Thanks @Humbedooh! Once I'm more familiar with the whole codebase I will be happy to help with bringing some improvements to Apache Kibble 👍

In the meantime I'm closing this issue as it seems to be solved.

[2020-10-07 09:11] #38 closed

[2020-10-07 10:55] michalslowikowski00 opened #41 "Template in reported issue"
I think it could be good idea to have template in every new reported bug.
It will help us to diagnose bugs faster and force reporter to think about issue i.e. how to write a good reproduction steps and other necessary information.

[2020-10-07 11:48] turbaszek commented on #41
Sounds good, I think it would be wise to open a PR with templates suggestions so we can discuss it. Personally I'm in favor of minimalistic approach to such things to not overwhelm contributors

[2020-10-07 11:53] michalslowikowski00 commented on #41
Minimalism is healthy. I will submit PR with template.

[2020-10-07 18:43] sharanf commented on #36
Hi @turbaszek I think this is a good idea. It clearly aligns us with the ASF official version and also avoids any extra work in to keep our version of the CoC up to date with the ASF one!

[2020-10-07 18:51] sharanf commented on #40
Sounds good @turbaszek ! I have had problems getting Kibble installed properly so having something simple that could make very easy is always helpful.

[2020-10-07 19:04] turbaszek commented on #40
I will give it a try over the weekend 👌 Can you please assign me?

[2020-10-07 19:05] turbaszek commented on #36
@sharanf should I open a PR then?

[2020-10-07 19:15] sharanf commented on #36
@turbaszek Sure! And please do.

[2020-10-09 22:01] turbaszek opened #45 "Rename master branch"
Let's rename master branch to "main".

https://github.com/github/renaming

[2020-10-10 12:56] #36 closed

[2020-10-10 14:05] sharanf commented on #45
I think this is a good idea. We have some old PRs open so not sure of the impact of a rename with these still open. It might be good to do a review of them and see what is still relevant that could be committed.

[2020-10-10 19:55] turbaszek opened #49 "Refactor api/ to make it a package"
Currently the `/api` directory is not a package and it should be as it encapsulates some logic. This will need adding the `__init__.py` and refactoring the imports.

[2020-10-10 20:05] turbaszek commented on #45
I don't think this is a blocker. Currently, we have 4 old PRs and maintainers can simply change target branch in those PRs. Although, of course, it would be nice to review them 😉

[2020-10-11 11:20] turbaszek opened #52 "Refactor the configuration methods of Apache Kibble"
Hello,

Currently, Apache Kibble is configured via `kibble.yaml` which is generated by running the `setup.py` script. This file is referenced in multiple places in the codebase which is not necessary in my opinion.

I would like to propose to use for the standard Python library `configparser ` instead of yaml.
https://docs.python.org/3.7/library/configparser.html

So instead of:
[code]
we would ha

[2020-10-11 17:27] turbaszek opened #54 "Introduce black formatting"
**Description**
Introduce black formatting tool:
https://github.com/psf/black

This can be easily done by adding a respectable hook to our pre-commit configuration.

**Use case**
Make the code format consistent and follow Python community best practises.

**Related Issues**
N/A

[2020-10-11 17:32] turbaszek opened #55 "Introduce pylint to increase code quality"
**Description**
Introduce pylint for code quality analysis:
https://github.com/PyCQA/pylint

This can be easily done by adding a respectable hook to our pre-commit configuration. However, this may require a lot of changes to code and maybe better to split it into few commits in single PR.

**Use case**
Increase code quality, follow Python community best practices and avoid regression in future.

*

[2020-10-12 17:54] #41 closed

[2020-10-12 17:57] michalslowikowski00 commented on #54
Can I take this? :)

[2020-10-12 18:16] turbaszek commented on #54
Sure, but I would say that it would be best to have #47 to avoid any regression or confusion

[2020-10-12 20:31] michalslowikowski00 commented on #54
Sure. I will wait.

[2020-10-12 20:32] michalslowikowski00 commented on #37
Is it still valid?

[2020-10-12 20:49] turbaszek commented on #37
@michalslowikowski00 I think we should still consider this idea. As a first step, it would be good to figure what is in `setup/makeaccount.py` and structure this file a little bit. This seems to be a script that accepts some users input. I think it may make sense to refactor it and then introduce `kibble.py` with argparser that would serve the purpose of both `setup.py` and `makeaccount.py` (proba

[2020-10-13 08:42] michalslowikowski00 commented on #8
Hi folks. Please take a look [#45](https://github.com/apache/kibble/issues/45). We are going to change the `master` branch name to `main`

[2020-10-13 08:42] michalslowikowski00 commented on #9
Hi folks. Please take a look [#45](https://github.com/apache/kibble/issues/45) We are going to change the master branch name to main

[2020-10-13 08:46] michalslowikowski00 commented on #45
I left comments about the renaming master and link to this issue.

[2020-10-13 08:55] michalslowikowski00 commented on #37
Make sense.

[2020-10-16 10:22] turbaszek opened #59 "Add license check to pre-commit"
**Description**
Add auto checking and adding of ASF licenses in files to pre-commit.

**Use case**
Apache Software Foundation project should always add licenses to files in repositories.

**Related Issues**
N/A

Example:
https://github.com/apache/airflow/blob/6733f2d7b96c87d233f79504da362ad32f436523/.pre-commit-config.yaml#L39-L139

[2020-10-16 10:23] turbaszek commented on #54
@michalslowikowski00 we should be ready after #58

[2020-10-17 08:39] michalslowikowski00 commented on #54
Sure. I will do it asap (today's evening). :)

[2020-10-17 08:44] michalslowikowski00 commented on #55
I will do it.
Everybody loves quality. :)
https://www.youtube.com/watch?v=jbJ6Ufl5Kkc&ab_channel=MichaelFish

[2020-10-17 10:43] turbaszek commented on #27
Ok, so we've got CI up and running. Now it's time to think about testing 😄

From discussions in #38 and #48 it seems that it would be wise to rethink the backend of API (+1 for using a framework as @aligoren suggested). But before we decide on something I think it would be a good step to add test coverage for existing API so we are sure that the UI will still work.

Currently, there's 61 API endpo

[2020-10-17 14:37] sharanf commented on #45
We have community approval for the name change so this will be changed over fairly soon.

[2020-10-19 18:43] turbaszek opened #62 "Allow embedding Apache Kibble charts on external websites."
**Description**
Allow embedding Apache Kibble charts on external websites.
Thanks @Humbedooh for mentioning on the devlist.

**Use case**

what Snoot.io uses on the projects.apache.org site. It needs to be
possible to grab a chart from the standard UI, get an embed link, and
publish it somewhere (with the appropriate caching in place for such a
request)

https://projects.apache.org

**Related Issu

[2020-10-19 18:46] turbaszek opened #63 "Link contributions to affiliations"
**Description**
As suggested by @sharanf on the devlist:

**Use case**
This is a highly useful indicator for observing how well the community is balanced.

**Related Issues**
N/A

[2020-10-19 18:47] turbaszek commented on #63
Maybe @myrle-krantz can help us somehow 😉

[2020-10-19 19:00] turbaszek opened #64 "Refactor Apache Kibble project"
# Refactor Apache Kibble project

This is an umbrella issue for collecting ideas and managing the work that has to be done.
Dev list thread: https://lists.apache.org/thread.html/r3f373be93397fc55ad6aff11030d2f3eb93f0f34782ff58fba9325b1%40%3Cdev.kibble.apache.org%3E

### 1. General refactor
- [ ] Move scanners to  main kibble repo
- [ ] Make kibble a package
- [ ] Add command-line interface to conf

[2020-10-21 04:47] auvipy commented on #64
what about considering JSON-API 1.1rc+++ instead of GraphQL server?

[2020-10-21 08:21] turbaszek commented on #64
@auvipy thanks for the suggestion! I will take a look at that 👍 But you reminded me that we may also consider running kibble scanners using celery / airflow.

[2020-10-21 08:26] auvipy commented on #64
ahh :dagger:

[2020-10-21 20:18] michalslowikowski00 commented on #54
@turbaszek
Hm... Do we want to BLACK all files in repo? :)
https://github.com/michalslowikowski00/kibble/runs/1288974043?check_suite_focus=true

[2020-10-21 20:56] michalslowikowski00 commented on #55
Ok, it will require more work, as you said.
Before submitting this PR'a I will fix the code to make it compliant with pylint: part by part.
There will be few PR's. :)

[2020-10-21 20:57] michalslowikowski00 commented on #54
I see... The same case as Pylint. It will require some more work and more PR's. :)

[2020-10-22 09:04] turbaszek commented on #54
Black will be simple do introduce, just let's run it over all files 👍

[2020-10-22 09:06] turbaszek commented on #55
@michalslowikowski00 the amount of work will depend on the number of errors. We can reduce them by adding more rules to ignored ones in pylintrc config file

[2020-10-22 15:31] #59 closed

[2020-10-23 00:17] skekre98 commented on #52
@turbaszek I am interested in taking this up. As clarification, how would you like this to be incorporated? Do you want refactor `../setup/setup.py` to use `configparser` instead or `yaml`?

[2020-10-23 07:35] turbaszek commented on #52
@skekre98 thanks for help!

Yes, I think this would be more python-native solution. However, I would suggest to add this `setup/configuration.py` file where we do:
[code]

Then we can import the `conf` anywhere and access the configuration information. But I'm open to any suggestion.

One more thing: I think it would be simpler to merge dbname, host and mort of elastiscearch into single connection

[2020-10-23 07:39] Humbedooh commented on #52
Definitely +1 to merging the entire URL (I think I said the same thing earlier somewhere else), that will also make it easier to auto-configure via the command line environment, as you'll just be exporting one variable :)

[2020-10-23 16:50] skekre98 commented on #52
Cool, I can start building up the class. Based on my current understanding we could initialize the parser with _kibble.yaml_ in `__init__()` followed by another getter function:
[code]

Is my understanding along the lines of what you are looking for?

[2020-10-24 01:43] skekre98 commented on #64
Hi, I would be interested in helping build out the cli for kibble. I have experience building out command line interfaces in Golang as well as Python. Willing to help out wherever needed.

[2020-10-24 09:44] turbaszek commented on #52
@skekre98 I think that python native ConfigParser does not support yamls out of the box. But it may be possible to construct ConfigParser from dictionary - however, I'm not sure if this is worth having additional custom logic.

I think keeping it simple as possible would be the best option. So:
1. Use `ini` type of file instead of yaml: https://docs.python.org/3.7/library/configparser.html#support

[2020-10-24 09:45] turbaszek commented on #64
Awesome @skekre98 ! What do you think about using https://click.palletsprojects.com/en/7.x/ ?

[2020-10-24 12:06] #49 closed

[2020-10-24 15:34] #37 closed

[2020-10-24 15:44] turbaszek commented on #45
Related infra ticket: https://issues.apache.org/jira/browse/INFRA-20997?jql=text%20~%20%22kibble%22

[2020-10-24 16:15] michalslowikowski00 opened #71 "Broken UI on web browsers: Chrome & Opera"
**Description:**
UI is broken on Chrome and Opera.
UI on Safari and Firefox is ok.

**Reproduction steps:**
1. Run Kibble:
- pip install -e ."[devel]"
- docker-compose -f docker-compose-dev.yaml up setup
- docker-compose -f docker-compose-dev.yaml up ui
2. Go to http://127.0.0.1:8000/ in Chrome
3. Go to http://127.0.0.1:8000/ in Opera

**Actual result:**
UI is broken and practically unusable.

**O

[2020-10-24 16:23] michalslowikowski00 opened #73 "First attempt to login is always failed"
**Description:**
The first attempt to login is always failed.
After providing login credentials and hit the button `Sign In` there is no effect.
The second try is successful.

**Reproduction steps:**
1. Run server (follow these steps https://github.com/apache/kibble/blob/master/CONTRIBUTING.md)
2. Go to http://127.0.0.1:8000/login.html (Chrome or the other web browsers)
2. Provide credentials
3. C

[2020-10-24 16:47] turbaszek commented on #71
Thanks @michalslowikowski00 for reporting this, do I correctly understand that this issue impacts only the two mentioned browsers?

[2020-10-24 17:55] skekre98 commented on #52
@turbaszek yes, I definitely think keeping in `ini` format will work better. Misunderstanding on my part 😅

[2020-10-24 18:48] skekre98 commented on #64
Sure @turbaszek, will finish up _KibbleConfigParser_ and then take a stab at this.

[2020-10-24 20:47] michalslowikowski00 commented on #71
Yes. Chrome and Opera. Opera is a minor issue in my opinion but Chrome is a big thing.

[2020-10-24 20:57] michalslowikowski00 commented on #64
This step: `Make kibble a package` is done. 🚀

[2020-10-25 07:03] Humbedooh commented on #73
Known issue, happens because you don't have a cookie set before your browser visits the login API URL.
There are basically two ways we can address this:
1. fix the way sessions are set up, OR
2. fire off a pre-flight API request to create a session before login, for instance calling `/api/session` should be enough to seed a new session.

[2020-10-25 10:11] turbaszek opened #76 "Fix deprecation warning for yaml.load()"
**Description:**
In multiple places we use `yaml.load()` which rises:
[code]
We should fix this deprecation warning.

[2020-10-25 10:11] turbaszek commented on #54
This was done in #66

[2020-10-25 10:11] #54 closed

[2020-10-25 10:23] turbaszek opened #77 "Create kibble cli tool"
**Description**
As discussed in #64 we would like to have a cli tool that would allow users mange their kibble instance

**Use case**
Users should be able to do:
[code]

**Related Issues**
#64
#78

[2020-10-25 10:24] turbaszek commented on #77
@skekre98 would you like work on this one?

[2020-10-25 11:27] sharanf opened #79 "Problems installing Kibble using Docker compose"
**Description:**

I am having problems installing Kibble using
`docker-compose -f docker-compose-dev.yaml up setup`

Initially reported as part of #50 and agreed to continue looking to resolve afterwards.

As requested I have now run
`docker-compose -f docker-compose-dev.yaml up elasticsearch`
and it is exiting with a code. I have copied the complete log in the section below.

**Reproduction steps

[2020-10-25 13:13] midhun1998 commented on #76
Hi @turbaszek . I would like to take up this issue if it's still open.

[2020-10-25 13:16] turbaszek commented on #76
Great @midhun1998 ! I assigned you

[2020-10-25 13:26] turbaszek commented on #79
According to this log:
[code]
It seems to be an issue with memory available for docker.

As this is rather hard to replicate, can you @sharanf try removing `ulimits` from docker-compose definition of elasticsearch:
https://github.com/apache/kibble/blob/d7f9031dfd93a2efd676fcbd59443feec01df6ed/docker-compose-dev.yaml#L41-L58

[2020-10-25 16:21] michalslowikowski00 commented on #73
Thx @Humbedooh for the answer.
Which solution would be better?

[2020-10-25 16:34] michalslowikowski00 opened #81 "Introduce Mypy in pre-commit"
**Description**
Add Mypy in pre-commit.
https://mypy.readthedocs.io/en/stable/

**Use case**
We would like to keep our code clean and tidy -- that's why setting up Mypy in pre-commit is a good idea.

**Related Issues**
N/A

[2020-10-25 17:00] turbaszek commented on #81
+1 for this and I think @Humbedooh also likes the type hints!

[2020-10-25 17:02] turbaszek commented on #73
I would be in favour of 1. but this may be harder to do. Btw. do you think we should fix it now or wait until we refactor the API?

[2020-10-25 17:16] michalslowikowski00 commented on #81
What do you think about flake8 also?

[2020-10-25 17:23] turbaszek commented on #81
I think that if we introduce pylint #55 then we don't need flake8. We are also using black and flake8 is not always ok with black formatting - and it doesn't format the code automatically 😉

[2020-10-25 19:03] skekre98 commented on #77
@turbaszek Sure, I will happily take this up! Can you give me some more specifications on what you are looking for from the cli(commands, flags, etc...). I can begin by creating the `setup` command to see if it is along the lines of what you are looking for.

[2020-10-26 05:40] midhun1998 commented on #76
Thank you @turbaszek . I would like to run my solution by you before I implement it. I think replacing `yaml.load()` with `yaml.safe_load() `should fix the warnings.

[2020-10-26 10:22] turbaszek commented on #76
@midhun1998 sounds like a good solution to me 👍

[2020-10-26 18:10] turbaszek commented on #77
I think this will be a good start! More command will come after we have #78

[2020-10-27 15:59] turbaszek commented on #45
Done 🚀

[2020-10-27 15:59] #45 closed

[2020-10-27 16:50] #52 closed

[2020-10-27 17:33] turbaszek opened #84 "Refactor KibbleDatabase"
Currently we implement two times the same class: `KibbleDatabase`:

https://github.com/apache/kibble/blob/2abfcc871dd35ddc727317267a4595f8230b53eb/kibble/setup/makeaccount.py#L27

https://github.com/apache/kibble/blob/2abfcc871dd35ddc727317267a4595f8230b53eb/kibble/api/plugins/database.py#L121

What should be done:
1. We should consolidate the whole logic into single class and create `kibble/datab

[2020-10-27 17:36] #76 closed

[2020-10-27 17:39] turbaszek commented on #79
@sharanf let me know if change from #80 helped or not. If not we will look further

[2020-10-27 17:44] turbaszek opened #85 "Support only Elasticsearch 7+"
**Description**
Support only Elasticsearch 7+.

**Use case**
We have many places where we check ES version and decide what to use depending if it's ES 7 or 6 and failing silently when it's something else.

This also reduces the test matrix.

**Related Issues**
#84

[2020-10-27 17:44] turbaszek commented on #85
@michalslowikowski00 @Humbedooh what do you think?

[2020-10-27 18:12] turbaszek commented on #77
@skekre98 the rough idea for now would be to have two commands:
[code]
which should do what we do in `kibble/setup/setup.py`. The second one should be:
[code]
that returns value from `kibble/version.py`. Other commands may be added in future but this will give strong foundation for future work.

I would personally be in favour of using the click library instead of building argparse.

[2020-10-27 20:11] sharanf opened #86 "Add Kibble scanner for Gitlab"
**Description**
Kibble doesn't currently include a scanner for Gitlab and a request for one has been made.
Create a new kibble scanner to accept Gitlab as a data source

**Use case**
Kibble should try to cover as many of the the popular sources as possible so that users who prefer using Gitlab may
 be able to scan and report on their data

**Related Issues**
Original request [https://github.com/ap

[2020-10-27 20:16] sharanf opened #87 "Add Kibble Scanner for Bitbucket"
**Description**
Kibble doesn't currently include a scanner for Bitbucket and a request for one has been made.
Create a new kibble scanner to accept Bitbucket as a data source

**Use case**
Kibble should try to cover as many of the the popular sources as possible so that users who prefer using Bitbucket may
be able to scan and report on their data

**Related Issues**
Original Request [https://githu

[2020-10-27 20:20] sharanf opened #88 "Add Kibble Scanner for Slack"
**Description**
Kibble doesn't currently include a scanner for Slack and a request for one has been made.
Create a new kibble scanner to accept Slack as a data source

**Use case**
Kibble should try to cover as many of the the popular sources as possible so that users who prefer using Slack may
be able to scan and report on their data

**Related Issues**
Original Request [https://github.com/apache

[2020-10-27 20:21] sharanf commented on #79
@turbaszek thanks and will do!

[2020-10-27 21:50] skekre98 commented on #77
@turbaszek I definitely think this is a good place to start. Let's perhaps make the version command `kibble --version` to keep it more python-esque?

[2020-10-28 13:33] Humbedooh commented on #85
I'm doing the same for another project I work on. 7+ generally works as kibble installations are most often standalone and thus not tied to an old legacy database or the likes.

So, I'm +1 to supporting 7+ only.

[2020-10-28 17:20] turbaszek commented on #85
@Humbedooh thanks for insight!

[2020-11-08 11:30] turbaszek commented on #79
Hey @sharanf any update on this one?

[2020-11-08 16:14] sharanf commented on #79
Hi I had another try but am still getting an error.

Trying to create ES index...
 File "/usr/local/lib/python3.8/site-packages/urllib3/connection.py", line 159, in _new_conn
setup_1          |     conn = connection.create_connection(
setup_1          |   File "/usr/local/lib/python3.8/site-packages/urllib3/util/connection.py", line 61, in create_connection
setup_1          |     for res in socket

[2020-11-08 16:46] turbaszek commented on #79
@sharanf please make sure that you have latest changes from `main` and do `docker-compose -f docker-compose-dev.yaml build` - this should rebuild the images. Then let's try do the following:
[code]
If there's no problem then we can stop container by `cmd+c`. Then let's try
[code]
If there's no error, then let's try
[code]

If there's any problem during any of those steps please let me know

[2020-11-10 20:36] michalslowikowski00 commented on #88
Hey @sharanf.
I would like to work on that. Is there more requirements or any other information that could help? :)

[2020-11-10 21:54] turbaszek commented on #88
Probably would be good to merge #78. Then we can also start writing tests and run them on CI to avoid regression

[2020-11-13 15:24] turbaszek commented on #79
Hey @sharanf any update? It seems that @skekre98 was able to spin up Kibble using docker (https://github.com/apache/kibble/pull/91#issuecomment-726482634)

[2020-11-14 17:56] skekre98 commented on #77
@turbaszek would you like me to implement `../kibble/setup.py/makeaccount.py` with click as well? I can open up an issue for it?

[2020-11-14 18:11] skekre98 opened #93 "Implement kibble account creation with click"
**Description**
Add an option to the kibble cli to create an account.

**Use case**
Instead of having to call `../kibble/setup/makeaccount.py` user should just be able to call `kibble create-account` for the same functionality. All the same arguments and options will be available.

**Related Issues**
#77

[2020-11-14 19:28] turbaszek commented on #77
@skekre98 sorry I missed your comment and already drafted #94.

I'm closing this issues as most of required work was done in #91 👍

[2020-11-14 19:28] #77 closed

[2020-11-14 19:29] turbaszek commented on #84
Additionally when working on #94 I got the following warning. It would be good to address it:
[code]

[2020-11-14 19:34] turbaszek opened #95 "Autogenerate kibble cli help in README"
**Description**
It's quite common to attach result of help command to README.md.
The following script can be used:
https://github.com/turbaszek/gonotes/blob/master/scripts/generate_cli_help.sh

**Use case**
Provide users with information about the command line tool.

**Related Issues**
N/A

[2020-11-14 20:56] michalslowikowski00 commented on #79
It `docker-compose -f docker-compose-dev.yaml up elasticsearch` works on my machine.
I rebased my branch yesterday.

[2020-11-14 21:31] skekre98 commented on #84
Hi @turbaszek, I can take a look into this if it is still available?

[2020-11-14 22:21] turbaszek commented on #84
@skekre98 sure! I did some changes in #94 around this. However what we need is to:
1. Figure out where we use this class (= where we access the database)
2. Decided what is the best approach to refactor it

[2020-11-20 12:14] michalslowikowski00 opened #97 "Refactor kibble.scanners.scanners.travis.scan.py"
URL checker could be split into smaller methods. It's hard to read a little bit right now.
This could help to write tests for the URL checker.

**Description**
Split  `scan.py` method for smaller chunks.

**Use case**
- refactor code
- simplify the logic
- add tests

**Related Issues**
N/A

[2020-11-20 12:33] turbaszek commented on #97
We should probably introduce something like `BaseSensor` class and refactor all scanners

[2020-11-20 16:33] sharanf commented on #79
Hi @turbaszek sorry for the delay in testing.(way too much work and not enough time to do it in :-). I did a fresh clone of main and ran the rebuild -  it didnt highlight any errors. I have copied the last few lines here

[code]
Next I ran the docker-compose -f docker-compose-dev.yaml up elasticsearch

and it ended with a out of memory error. Have copied some of the details below

[code]
So I thin

[2020-11-27 13:18] #93 closed

[2020-11-27 14:08] michalslowikowski00 commented on #97
Yes, I was thinking about it. I need to check and understand how scanners work and find common patterns or smth like that. The first thing that came to my mind is the same pattern as we have in Airflow -- the base operator and base hook.

[2020-11-27 14:13] michalslowikowski00 opened #100 "Update source code location in docs"
Scanners are also in the main repository.
We need to update the docs.
https://github.com/apache/kibble/blob/main/docs/source/setup.rst#source-code-location.

[2020-12-13 11:50] turbaszek commented on #84
Doing #114 I saw that we have also similar logic of creating es connection in:
https://github.com/apache/kibble/blob/5bf37a8c0db83c918fa476a3a1b653390026e169/kibble/scanners/brokers/kibbleES.py#L286-L298

[2020-12-13 11:52] kaxil commented on #84
Yeah there is lot of duplication which cna be simplified.

Same with yaml file used by scanners to, I think we can unify those configs in the top level .ini file

[2020-12-18 19:18] turbaszek opened #125 "Introduce DataSource class"
**Description**
Currently all data sources supported by Kibble are defined in this one, long yaml:
https://github.com/apache/kibble/blob/8904f39ca2b19aef3522455ec357294cc398c49e/kibble/api/yaml/sourcetypes.yaml#L1-L103

We should introduce `DataSource` base class and then rewrite (automatically) the yaml file into pythonic code. For example:
[code]

**Use case**
To make it easier to work with data

[2021-01-10 16:34] sharanf commented on #79
Came in to close this issue but saw thet seen the comment about the ES Memory locking issue so will try again to see if it helps.

[2021-03-24 12:38] turbaszek commented on #7
@erogol currently we are working on new kibble - this repo. To use old version try:
https://github.com/apache/kibble-1

[2021-03-24 12:40] erogol commented on #7
Exciting :) do you have a certain timeline for the new one?

[2021-03-24 12:41] turbaszek commented on #7
We are still discussing it. If you are interested in being part of it feel free to chime in in one of our discussions:
https://lists.apache.org/thread.html/r6e948e670495aaa4a7d1e27850edf1d0868a33de03c6e3f6f41dd80b%40%3Cdev.kibble.apache.org%3E
https://lists.apache.org/thread.html/r741e43dbcd666f95c9279eaeceb03c903beba2f2a652ac08dd89cf8f%40%3Cdev.kibble.apache.org%3E

[2021-04-10 16:35] sharanf commented on #7
Hi @erogol -  I am following up on this issue. Did the installation instructions work for you for the  kibble-1 repo?

[2021-04-10 18:29] erogol commented on #7
no unfortunately :(

[2021-05-24 19:13] michalslowikowski00 commented on #7
I will take a look at it.

[2021-08-04 09:19] haukesomm commented on #7
I can confirm this. The instructions do not work for both the old kibble-1 project an this one.
There is no `setup`-directory in this repo so I assume the guide is still written for the old repo. The `setup.py` in that repo fails as well, however. This is the error I get:
[code]

The Docker installation instructions also don't work because neither repo contains a `docker-compose.yml` at this point

[2021-08-04 18:57] sharanf commented on #7
Thanks @haukesomm for the report and yes you are correct - the documentation hasn't been updated yet. I am sorry for the confusion it has caused and if no-one beats me to it, I will try to take a look at the weekend to see what I can do. :-)

[2021-08-04 19:02] haukesomm commented on #7
Thanks for your effort! ✌🏻

[2021-08-08 08:29] Humbedooh commented on #7
The setup.py must be run from the setup directory, as it expects mappings.json to be local to the CWD.

[2021-10-26 15:04] fiveohhh commented on #13
There seems to be some mismatch between doc versions and kibble versions.

This repository is for a new kibble version that doesn't seem to have any public docs?
There is a https://github.com/apache/kibble-1 repository that mostly matches what the readthedocs site is showing for latest.

[2022-06-30 08:11] g0tbread opened #129 "Gerrit source cannot specify user & password authentication config"
![image](https://user-images.githubusercontent.com/19247109/176626249-1db07731-e217-46b8-ac0e-7f497f13539a.png)
\# pwd
/opt/kibble-scanners
\# python3 src/kibble-scanner.py -t gerrit
![image](https://user-images.githubusercontent.com/19247109/176626010-fcc5834a-4865-42d1-8158-8c5ff726884b.png)
\# vim src/plugins/scanners/gerrit.py
![image](https://user-images.githubusercontent.com/19247109/1766253

[2022-08-19 12:29] k-Gangadhar opened #130 "Positional arguments can't be used with Elasticsearch API methods"
Hi,

I'm getting the following error while installing the kibble with elasticsearch 8.3.3.

_**Index creation failed: Positional arguments can't be used with Elasticsearch API methods. Instead only use keyword arguments.**_

Could you please help?

[2022-08-22 21:36] sharanf commented on #130
Hi @k-Gangadhar please can you give some more details. What exactly did you do? And what steps were you doing when the error happened?

[2022-08-23 10:37] k-Gangadhar commented on #130
Hi,

please find the error details.

<img width="947" alt="Kibble error" src="https://user-images.githubusercontent.com/108121471/186137598-8714ed16-8c64-40b0-b09b-5361155d7bbd.PNG">

[2022-08-23 11:00] Humbedooh commented on #130
This looks like pretty standard behavior from Elastic, breaking backwards compatibility.
The quickest solution would be to use ElasticSearch 7.x instead (or at least the 7.x python client module).

[2022-08-26 07:39] k-Gangadhar commented on #130
@Humbedooh That worked but got another error after installation.

![image](https://user-images.githubusercontent.com/108121471/186849121-59e938d7-75ed-41ec-85c8-4d385cd4ed7a.png)

Getting 404 for api endpoint. Not able to login to Kibble UI.

[2022-09-05 01:29] k-Gangadhar commented on #130
@Humbedooh Can you please help me on above mentioned error.